body, html {
    height: 100%;
    margin: 0;
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
  }
  
  .form-container {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form {
    display: block;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  } 
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }